<div class="comments" id="comments">
    {{#each this}}
    <section class="comment">
        <div class="text">
            {{text}}
        </div>
        <div class="meta">
            {{fix_case user.username}} on {{format_date created_at}}
            {{#if can_delete}}
            <button class="delete-comment-btn" data-commentid="{{id}}">x</button>
            {{/if}}
        </div>


    </section>
    {{/each}}
</div>