<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="text">
            {{text}}
        </div>
        <div class="meta">
            {{user.username}}
        </div>

    </section>
    {{/each}}
</div>