{{#each posts as |post|}}
<article class="post">
    <div class="img-container" style="background-image: url(../stylesheets/images/background.jpeg);"></div>
    <h3 class="location text-white">{{location}}</h3>
    <h3 class="title text-center text-white">{{title}}</h3>
</article>
{{/each}}
{{!-- image id --}}