<section class="travel p-3">
    <h1>Let's Travel the World</h1>
    <!-- search section -->
    <div>
        <form id="user-form">
        <input
            name="city"
            id="city"
            type="text"
            autofocus="true"
            placeholder="Continent"
            class="form-input p-2 rounded-pill text-center"
        />
        <input
        name="city"
        id="city"
        type="text"
        autofocus="true"
        placeholder="Country"
        class="form-input p-2 rounded-pill text-center"
        />
        <input
        name="city"
        id="city"
        type="text"
        autofocus="true"
        placeholder="Tags"
        class="form-input p-2 rounded-pill text-center"
        />
        <button
            id="search-city"
            type="submit"
            class="btn-search btn rounded-pill shadow"
        ><i class="fa-solid fa-earth-americas"></i></button>
        </form>
    </div>
    <p>Don't have any ideas? Search without filters to view it all. </p>
</section>
