<!-- travel section -->
<section class="travel p-3">
    <!-- login section -->
    <div class="user-log">
        <form id="user-form">
        <input
        name="Username"
        id="Username"
        type="text"
        autofocus="true"
        placeholder="Username"
        class="form-input p-2 rounded-pill text-center"
        />
        <input
        name="password"
        id="password"
        type="text"
        autofocus="true"
        placeholder="Password"
        class="form-input p-2 rounded-pill text-center"
        />
        <button
            id="login-user"
            type="submit"
            class="btn-search btn rounded-pill shadow"
        >Login</button>
        </form>
    </div>
</section>