<main class="row vh-100 home_log_sign background2 p-0 height-pic">

  <!-- travel section -->
  <section class="travel p-3">
    <!-- login section -->
    <div class="user-log">
      <form id="login-form" class="user-form">
        <input name="username" id="username" type="text" autofocus="true" placeholder="Username"
          class="form-input p-2 rounded-pill text-center" />
        <input name="password" id="password" type="password" autofocus="true" placeholder="Password"
          class="form-input p-2 rounded-pill text-center" />
        <button id="login-user" type="submit" class="btn-search btn rounded-pill shadow">Login</button>
      </form>
    </div>
  </section>

</main>
{{!-- reference javascript file --}}
<script src="/javascript/login.js"></script>
