<!-- travel section -->
<section class="travel p-3">
  <!-- login section -->
  <div class="user-log">
    <form id="sign-up-form" class="user-form">
      {{!-- <input
        name="fullname"
        id="fullname-signup"
        type="text"
        autofocus="true"
        placeholder="Name"
        class="form-input p-2 rounded-pill text-center"
      /> --}}
      <input
        name="username"
        id="username-signup"
        type="text"
        autofocus="true"
        placeholder="Username"
        class="form-input p-2 rounded-pill text-center"
      />
      <input
        name="email"
        id="email-signup"
        type="text"
        autofocus="true"
        placeholder="Email"
        class="form-input p-2 rounded-pill text-center"
      />
      <input
        name="password"
        id="password-signup"
        type="text"
        autofocus="true"
        placeholder="Password"
        class="form-input p-2 rounded-pill text-center"
      />
      <button
        id="sign-up"
        type="submit"
        class="btn-search btn rounded-pill shadow"
      >Sign Up</button>
    </form>
  </div>
</section>
{{!-- reference javascript file --}}
<script src="/javascript/sign-up.js"></script>
