 <!-- travel section -->
        <section class="single-post-top row mx-5 mt-5 mb-3">
            <div class="col-5 post-photo">
            </div>

            <div class="col-7">
                <h2>Title of Post</h2>
            </div>
        </section>
        <section class="single-post-middle mx-5 text-center">
            <p>Description/Journey</p>
        </section>
        <section class="single-post-bottom mx-5 row">
            <div class="col-4 tips-columns">
                <p class="tips-heading">places</p>
                <div class="tip text-center mt-0">Favorite Restaurant</div>
                <div class="tip text-center my-2">Favorite Local Attraction</div>
                <p class="tips-heading">cost</p>
                <div class="tip text-center mt-0">Per Meal</div>
                <div class="tip text-center my-2">Hotel/Airbnb Per Night</div>

            </div>
            <div class="col-4 tips-columns">
                <p class="tips-heading">tips</p>
                <div class="tip text-center mt-0">Transportation Tips</div>
                <div class="tip text-center my-2">Travel Tips</div>
                <div class="tip text-center my-2">Safety Tips</div>
            </div>

            <div class="col-4 tips-columns">
                <p class="tips-heading">best for</p>
                <div class="tip text-center mt-0">Pet Friendly?</div>
                <div class="tip text-center my-2">Kid Friendly?</div>
                <div class="tip text-center my-2">Take Your Family</div>
                <div class="tip text-center my-2">Safety Rating?</div>

            </div>

        </section>



        <!-- drop-down select section
          <div class="h-50 px-3 text-center">
            <select id="cities" class="w-100 p-2 rounded-pill text-center">
              <option value="Searched Cities">Searched Cities</option>
            </select>
          </div> -->


