/*~~~~~ ALL PAGES HTML~~~~~~*/
/* UNIVERSAL STYLES */
:root {
   --primary: #E0CCCB;
   --secondary: #8C5754;
   --tertiary: #e7a9e9;
   --form-background: ivory;
}

* {
   font-family: 'Poppins', sans-serif;
}

body {
   margin: 0;
   padding: 0;
   background: var(--primary);
}

/************************/

/* HERO STYLES */
.hero {
   background: var(--primary);
   padding: 0.1% 0 0.5% 0;
   height: 150px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   z-index: 9999;
}

.hero h1 {
   font-family: 'Allison';
   font-size: 4vw;
   text-align: center;
   width: 100%;
   margin-bottom: 0;
}

.hero p {
   font-size: 1vw;
   width: 100%;
}

.hero ul {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.hero li {
   padding: 10px 15px;
}

.hero a {
   color: black;
   text-decoration: none;
}

/************************/

/* MAIN SECTION STYLES */
.main {
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center
}

/************************/

/* TRAVEL SECTION STYLES */
.travel {
   text-align: center;
}

.travel h1 {
   font-size: 2vw;
   width: 100%;
   padding-bottom: 10px;
}

/* SEARCH SECTION */
.travel div {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.user-form {
   /* width: 50%; */
   width: 375px;
}

.form-input {
   width: 80%;
   margin: 5px;
}

.btn-search {
   /* box-shadow: 0px 0px 10px 5px var(--secondary); */
   margin: 10px 10px 0 10px;
   padding: 6px 50px;
}

.btn-search:hover {
   font-weight: bold;
   color: white;
   background-color: var(--secondary);
   transition: all 0.6s ease-in-out;
   opacity: 0.5;
}

.btn-search:not(:hover) {
   font-weight: bold;
   color: white;
   background-color: var(--secondary);
   transition: all 0.7s ease-in-out;
}

.travel p {
   margin-top: 10px;
}

/*****************************************************/
/*****************************************************/

/*~~~~~~ ALL POSTS HTML ~~~~~~*/
.posts {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   /* justify-content: space-between; */
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   padding: 40px 0;
}

.post {
   background: var(--secondary);
   height: 350px;
   width: 20%;
   border-radius: 26px;
   margin: 20px;
}

.img-container {
   width: 100%;
   height: 60%;
   border-radius: 26px 26px 0 0;
   margin: 0 0 5px 0;
   background-size: cover;
}

.img-container img {
   width:100%;
   height:100%;
   object-fit: cover;
   border-radius: 26px 26px 0 0;
}

.location {
   font-size: 15px;
   padding: 0 0 5px 5px;
   margin: 0;
}

.country {
   font-size: 15px;
   padding: 0 0 10px 5px;
   margin: 0;
}

.title {
   font-size: 18px;
   padding-bottom: 13px;
   margin: 0;
}

.location-info {
   color: #e59500;
}

/*****************************************************/
/*****************************************************/

/*~~~~~~ LOGIN AND SIGN-UP HTML PAGE ~~~~~~*/
.user-log {
   border: 1px solid var(--secondary);
   border-radius: 26px;
   padding: 25px 0;
   ;
}

/*****************************************************/
/*****************************************************/

/*~~~~~ SINGLE-POST PAGE ~~~~~~*/
.single-post-top {
   background-color: #8c5754;
   height: 400px;

   border: 1px black solid;
   border-radius: 15px;

   /* text-align: center;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center; */
}

.post-photo {
   background-image: url('./images/background.jpeg');
   background-size: cover;
   min-height: 100%;
   border-radius: 15px;
}

.single-post-middle {
   min-height: 150px;
   border: 1px black solid;
   border-radius: 15px;
   background-color: var(--form-background);
}

.tip {
   height: 50px;
   border: 1px black solid;
   border-radius: 15px;
   background-color: var(--form-background);
   width: 90%;

}

.tips-heading {
   font-style: italic;
   font-size: 30px;
   margin-bottom: 0;
   margin-top: 20px;
}

.comment-btn {
   border: none;
   background: none;
   font-style: italic;
   font-weight: bolder;
   font-size: 28px;
   color: #68705c;
   margin-left: 50px;
}

.comment-input {
   background-color: var(--form-background);
   border: none;
   border-radius: 15px;
   margin-left: 50px;
   width: 30%;
   margin-top: 50px;
   height: 110px;
}

.comment {
   margin-left: 50px;
   font-size: 20px;
   color: #68705c;
   margin-left: 75px;
   margin-top: 20px;

}

.meta {
   font-size: 15px;
   margin-top: 0px;
}

.nav-link:hover {
   font-weight: bold;
}

/*****************************************************/
/*****************************************************/

/*~~~~~ CREATE-POST HTML ~~~~~*/
.create-post-top {
   background-color: var(--primary);
   height: 300px;

   border-radius: 15px;

}

.cp-top-left {
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: space-between;
}

.cp-top-right {
   background-color: var(--form-background);
   border-radius: 15px;
   height: 100%;
   width: 100%;
}


.single-post-middle {
   min-height: 150px;
   border: 1px black solid;
   border-radius: 15px;
   background-color: var(--form-background);
}

.file-input {
   height: 50px;
   border: 1px black solid;
   border-radius: 15px;
   background-color: var(--form-background);
   width: 90%;
   display: flex;
   justify-content: center;
   align-items: center;

}

.tips-heading {
   font-style: italic;
   font-size: 30px;
   margin-bottom: 0;
   margin-top: 20px;
}

.hidden {
   display: none;
}

.tips-entry {
   background-color: var(--form-background);
   border-radius: 15px;
   height: 80%;
   width: 90%;
}

.create-btn-div {
   display: flex;
   justify-content: center;
}

.apply-border {
   border: 1px solid red;
}

/*****************************************************/
/*****************************************************/

/* MEDIA QUERY STYLES  */
@media only screen and (max-width: 576px) {
   .navigation {
      padding: 0 40px;
   }

   .search {
      padding-top: 0;
      padding-bottom: 20px;
      margin-bottom: 20px;
   }

   .curr-container {
      padding: 0;
   }

   .current {
      margin: 40px 35px;
      padding: 25px;
   }

   .current h3 {
      font-size: 18px;
   }

   .forecast {
      flex-wrap: wrap;
      padding-top: 0;
   }

   .days {
      width: 100%;
      margin-bottom: 10px;
   }
}